.header {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
  }

  &__logo {
    height: 60px;
  }

  &__title {
    padding: 0 20px;
    text-transform: uppercase;
    color: rgb(191, 41, 50);
    font-size: 24px;
  }
}
