
.message {
  padding: 10px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  background: rgb(238, 237, 237);

  &_my {
    display: flex;
    justify-content: flex-end;
  }

  &_other {
    display: flex;
    justify-content: flex-start;
  }
}